// generelle h2 Formatierung
h2 {
  font-weight: bold;
}

// Schrift "Anmeldung zum Newsletter" formatieren (Kontaktformular)
.form-element-statictext h2 {
  font-size: 16px;
  font-weight: normal;
}
