#page-header {
  border-bottom: 5px solid $primary;
}

#mainnavigation {
  background-color: $primary;
  margin-right: -500px;
  padding: 7px;
}

#mainnavigation .nav-link-text {
  color: white;
}

.navbar-mainnavigation .nav-link.nav-link-main:before {
  background-color: white;
}

//.navbar-brand-image img {
.navbar-brand-logo-normal {

}

.navbar-mainnavigation .navbar-brand-image img {
  top: 72%;
  width: 100%;
  max-height: 234%;
}

// minimum header height
#page-header {
  min-height: 115px;
  padding: 0;
}
