// schneide alle Bilder mit dieser Klasse außer auf "Jugend" Seite
#page-content .textpic .image picture {
  // schneide Bild zu (oben, rechts, unten, links)
  clip-path: inset(49% 0 2% 0);
  margin-top: -57%;
}


// Jugend-Seite

  // schneide erstes Bild auf "Jugend"-Seite zu
  #c59, #c216 {
    .textpic .image picture {
      clip-path: inset(26% 0 2% 0);
      margin-top: -17%;
  }
}

  // schneide zweites Bild auf "Jugend"-Seite zu
  #c60, #c217 {
    .textpic .image picture {
      clip-path: inset(16% 0 5% 0);
      margin-top: -7%;
    }
  }

  // wenn Bildschirm größer als 1400px ist, dann setze Bild auf folgende Größe
  @media (min-width: 1400px) {
    #page-content .textpic .image picture {
      clip-path: inset(54% 0 4% 0);
      margin-top: -57%;
    }
  }

  // Größe des ersten "Jugend" Bildes wenn Seite größer als 1400px ist
  @media (min-width: 1400px) {
    #c59, #c216 {
      .textpic .image picture {
        clip-path: inset(26% 0 2% 0);
        margin-top: -11%;
      }
    }
    // Größe des zweiten "Jugend" Bildes wenn Seite größer als 1400px ist
    #c60, #c217 {
      .textpic .image picture {
        clip-path: inset(16% 0 5% 0);
        margin-top: -3%;
      }
    }
  }



// Home-Seite

  // Abstand zwischen Header Carousel und erstem Content auf Home-Seite
  .page-8 .frame-type-carousel_small {
    padding-bottom: 1%;
  }

  // Abstand zwischen Header Carousel und erstem Content auf Home-Seite
 // wenn Seite größer als 1400px ist
  @media (min-width: 1400px) {
    #page-content .frame-type-textpic .frame-inner {
      margin-top: -4%;
    }
    #p35 #page-content .frame-type-textpic .frame-inner {
      margin-top: -7%;
    }
  }

  // Abstand zwischen Header Carousel und erstem Content auf Home-Seite wenn Seite
  // kleiner als 1200px ist
  @media (max-width: 1200px) {
    .page-8 .frame-type-textpic .frame-inner {
      margin-top: 2%;
    }
  }

