//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";
@import "./header";
@import "./footer";
@import "./h2";
@import "image-slider";
@import "./image-gallery";
@import "./images";
@import "./contact-form";
@import "./login-form";

* {
  font-family: 'Nunito', sans-serif;
}

// Schriftgröße auf 16
#page-content p {
  font-size: 16px;
}

// alle Unter-Überschriften
.element-subheader {
  font-size: 16px;
  margin-bottom: 3% !important;
}



// Kalender

// Google Calender
.fc-calendar {
  width: 600px;
}

// Google calender toolbar ("Überschriften" des Kalender)
.fc-header-toolbar {
  font-size: 13px;
}

// Monatsbezeichnung des Kalenders
.fc-center h2 {
  font-size: 18px;
}



// News

// News "zurück" Button in Detailansicht
.news-backlink-wrap {
  display: flex;
  justify-content: flex-end;
}

// "Zurück" Button in Detailansicht
.news-backlink-wrap a {
  border: 1px solid $primary;
  background-color: $primary;
  color: white !important;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  // Button zurück auf Detailview so weit eingerückt wie Frame-Elemente
  margin-right: calc(var(--bs-gutter-x)* .5);
}

// News Button Hover-effect
.news-backlink-wrap a:hover {
  border: 1px solid $primary;
  background-color: white;
  color: $primary !important;
}

// News Detailsite
.news .header h1 {
  font-weight: bold;
}

// Abstand zwischen Überschrift und Text in Detailansicht
.news-single .frame-type-text {
  padding-top: 2px;
}

// Abstand zwischen Header und erstem Bild auf Home
.page-8 #page-content .frame:first-of-type {
  padding-top: 0;
}



// Login Bereich

// Downloads links
#p41 .section-row {
  justify-content: left;
}

// Bildergröße
#p41 .section-row .maincontent-wrap {
  width: 17%;
}

// Abstand zwischen Überschrift und Bild (Events)
#c165 {
  padding-bottom: 2%;
}

// Abstand Bild
#c164 {
  padding-top: 0;
  padding-bottom: 0;
}

// Abstand text
#c163 {
  padding-top:0;
  padding-bottom:0;
}

// Buttons Schriftfarbe
.btn-primary {
  color: white;
}

// Position Download-Icon
.custom-download-icon {
  margin-top: -9px;
}

// Abstand zwishcen Download-Icon und Text
.filelink-item {
  gap: 0.5rem;
  // space between text
  margin-top: 0.5rem !important;
}

